/* vim:ft=css
*
* Catppuccin-like theme for Waybar
*
* Maintainer: @xeome
*/

@import "oxocarbon-dark.css";

/* -----------------------------------------------------
*   Global
* ----------------------------------------------------- */

* {
  /* `otf-font-awesome` is required for icons */
  font-family: proportional_font, monospace_alt_font;
  font-weight: 800;
  font-size: 1.03em;
  color: #dde1e6;
  font-feature-settings: '"zero", "ss01", "ss02", "cv01", "cv03", "cv04", "cv05", "cv06", "cv07", "cv08", "cv09"';
  border: none;
  border-radius: 0;
  padding: 0 0;
  margin: 0 0;
  transition: background-color 0.2s ease-in-out, color 0.1s ease-in-out;
}

/* -----------------------------------------------------
*   Waybar
* ----------------------------------------------------- */
window#waybar {
  background: #0a0a0a;
  border-radius: 0;
  margin: 0;
}

window#waybar.hidden {
  opacity: 0;
}

window#waybar.empty #window {
  background: #0a0a0a;
  box-shadow: 0px 0px 0px;
}

/* -----------------------------------------------------
*   Tooltip
* ----------------------------------------------------- */
tooltip {
  background: @surface;
  border-radius: 0;
  border-width: 1px;
  border-style: solid;
  border-color: @outline;
}

tooltip label {
  color: @on_primary_container;
}

/* -----------------------------------------------------
*   Workspaces
* ----------------------------------------------------- */
#workspaces {
  background: @surface;
  color: @outline;
  border-radius: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 9px;
  font-weight: 800;
  font-size: 1.05em;
}

#workspaces button {
  color: @primary;
  background: @surface;
  padding: 5px 10px;
  border-radius: 0;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  background: @outline;
  color: @surface;
  border-radius: 0;
  padding: 5px 10px;
}

#workspaces button.focused {
  color: @on_primary_container;
}

#workspaces button.active {
  background: @outline;
  color: #0a0a0a;
  border-radius: 0;
  padding: 0 10px;
}

#workspaces button.urgent {
  background-color: @green;
  border-radius: 0;
}

/* ===== LAYOUT ADJUSTMENTS ===== */
.modules-left>widget:first-child>#workspaces {
  padding-left: 0;
}

.modules-right>widget:last-child>#workspaces {
  padding-right: 0;
}

/* -----------------------------------------------------
*   Window
* ----------------------------------------------------- */
#window {
  background: @surface;
  color: @on_primary_container;
  border-radius: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 60px;
  margin-right: 60px;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 800;
}

/* -----------------------------------------------------
*   Clock
* ----------------------------------------------------- */
#clock {
  background: @surface;
  color: @yellow;
  border-radius: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 800;
  border: 2px solid @yellow;
}

#clock.date {
  background: @surface;
  color: @yellow;
  border-radius: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 800;
}

/* -----------------------------------------------------
*   Pulseaudio
* ----------------------------------------------------- */
#pulseaudio {
  background: @surface;
  color: @audio;
  border-radius: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 800;
  border: 2px solid @audio;
}

#pulseaudio.muted {
  background: @surface;
  color: @error;
}

/* -----------------------------------------------------
*   Network
* ----------------------------------------------------- */
#network {
  background: @surface;
  color: @blue;
  border-radius: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 800;
  border: 2px solid @blue;
}

#network.disconnected {
  color: @error;
}

/* -----------------------------------------------------
*   tray
* ----------------------------------------------------- */
#tray {
  background-color: @surface;
  color: @secondary;
  border-radius: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 9px;
  padding-left: 10px;
  padding-right: 10px;
  border: 2px solid @secondary;
}

#tray>.passive {
  -gtk-icon-effect: dim;
}

#tray>.needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @yellow;
}

/* -----------------------------------------------------
*   Battery
* ----------------------------------------------------- */
#battery {
  background: @surface;
  color: @green;
  border-radius: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 800;
  border: 2px solid @green;
}

#battery.charging {
  color: @cyan;
  border: 2px solid @cyan;
}

#battery.warning {
  color: @green;
  border: 2px solid @green;
}

#battery.critical {
  color: @yellow;
  border: 2px solid @yellow;
}

/* -----------------------------------------------------
*   temperature
* ----------------------------------------------------- */
#temperature {
  background: @surface;
  color: @cyan;
  border-radius: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 800;
}

#temperature.critical {
  color: @yellow;
}


/* -----------------------------------------------------
*   idle-inhibitor
* ----------------------------------------------------- */
#idle_inhibitor {
  background: @surface;
  color: @white;
  border-radius: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  padding-left: 10px;
  padding-right: 0px;
  font-weight: 800;
  border: 2px solid @white;
}

#idle_inhibitor.activated {
  color: @error;
  border: 2px solid @error;
}

/* -----------------------------------------------------
*   Custom
* ----------------------------------------------------- */

#custom-vpn {
  background: @surface;
  color: @secondary;
  border-radius: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 800;
  border: 2px solid @secondary;
}

#custom-hiddenwindow {
  background: @surface;
  color: @tertiary;
  border-radius: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 800;
}


#cpu {
  background: @surface;
  color: @magenta;
  border-radius: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 800;
}
