window#osd {
  border-radius: 999px;
  border: none;
  background: rgba(0, 0, 0, 0.5);
}

window#osd #container {
  margin: 8px;
}

window#osd image,
window#osd label {
  color: #ffffff;
}

window#osd #container > image {
    -gtk-icon-transform: scale(0.8);
}

window#osd progressbar:disabled,
window#osd image:disabled {
  opacity: 0.5;
}

window#osd progressbar {
  min-height: 6px;
  border-radius: 999px;
  background: transparent;
  border: none;
}

window#osd trough {
  min-height: inherit;
  border-radius: inherit;
  border: none;
  background: rgba(0,0,0,0);   /* Fully transparent */
}

window#osd progress {
  min-height: inherit;
  border-radius: inherit;
  border: none;
  background: #fff;            /* Or rgba(255,255,255,1) */
}
